<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Citas Medicas</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isLoggedIn == 'si'">
        <a routerLink="add-cita" class="nav-link">Nueva cita</a>
      </li>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn == 'si'">
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Salir</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>