<div>
    <div class="submit-form">
      <div *ngIf="!submitted">

        <div class="form-group">
          <label for="fecha">Fecha cita</label>
          <input
            class="form-control"
            type="date" 
            id="fecha"
            required
            [(ngModel)]="fechaCita"
            name="fecha"
          />
        </div>
  
        <button class="btn btn-success" (click)="getCitasDoctor()">Consultar Citas</button>
      </div>
    </div>
    <div class="col-md-12" style="top: 15px;">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Paciente</th>
              <th scope="col">Fecha y hora de la cita</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cita of citas; let i = index">
              <th scope="row">{{ cita.idCita }}</th>
              <td>{{ cita.usuarioPaciente?.nombre }}</td>
              <td>{{ cita.fechaCita | date:'EEEE d, MMMM y, h:mm:ss a' }}</td>
            </tr>
        </table>
    </div>
  </div>